
@font-face {
    font-family: "Rick&Morty-font";
    src: url(get_schwifty.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    background-color: black;
    color: rgb(21, 218, 21);
    font-family: "Rick&Morty-font";
}


h1 {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    margin: 0;
    height: 0;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 30%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid rgb(21, 218, 21);
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

.wrapper {
    width: 100%;
    height: 100%;
}

#characters {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#characters > ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#characters > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 0 0;

}

#characters > ul > li > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}


